<h1>Estadisticas</h1><p>
Numero de quizes:<%= quizestotales %> <p>
Numero de comentarios:<%= comentariostotales %> <p>
Quizes sin comentarios:<%= quizessincomentarios %> <p>
Quizes con comentarios:<%= quizesconcomentarios %> <p>
Media de comentarios por Quiz:<%= mediacomentarios %>